.page-button {
  width: 40px;
  height: 40px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid #000;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 214, 214);
  box-shadow: -3px 3px 0px rgb(0, 0, 0);
}

.page-button:hover {
  cursor: pointer;
}

.page-button:active {
  transform: translate(-2px, 2px);
  box-shadow: -1px 1px 0px rgb(0, 0, 0);
}

.activated {
  background-color: rgb(254 223 49);
}
