.stat {
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: capitalize;
    border: 3px solid rgba(0, 0, 0, 1);
    font-size: .7rem;
    transition: .2s;
    opacity: 0;
}

.stat span {
    font-weight: bold;
}

.stat:hover {
    transform: scale(110%, 110%);
    cursor: pointer;
}